@keyframes pizza-spin{
    from{
        transform: translate(-50%,-50%) rotate(0deg);
    }
    to{
        transform: translate(-50%,-50%) rotate(360deg);
    }
}
@keyframes pizza-enter{
    0%{
        transform: translate(-50%,-50%) rotate(0deg) scale(1.6);
    }
    50%{
        transform: translate(-30%,-50%) rotate(180deg) scale(2);
    }
    100%{
        transform: translate(-160%,-50%) rotate(0deg) scale(1);
    }
}
@keyframes menu-appearance{
    from{
        opacity: 0;
        transform: translate(100%,-30%);
    }
    to{
        opacity: 1;
        transform: translate(100%,-50%);
    }
}

* {
    scrollbar-width: thin;
    scrollbar-color: #001942 transparent;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 10px;
  padding: 2px;
}

*::-webkit-scrollbar-thumb {
  background-color: #001942;
  border-radius: 4px;
  min-height: 54px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #001942;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #001942;
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
body{
    background-color: rgba(0, 0, 0, 0.977);
}
.pizza{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: pizza-spin 20s linear infinite;
    cursor: pointer;
    width: 40%;
}
.pizza-base{
    width: 100%;
    height: 100%;
    z-index: -1;
}
.pizza-active{
    animation: pizza-enter 2s ease forwards;
    width: 25%;
    transform: translate(-160%,-50%);
}
.menu{
    position: absolute;
    background-color: white;
    border-radius: 50px;
    top: 50%;
    transform: translate(100%,-50%);
    width: 45%;
    height:80vh;
    box-shadow: 7px 0px 40px 25px rgba(255, 255, 255, 0.3);
}
.menu-enter-active {
    animation: menu-appearance 2s ease-in-out;
    animation-delay: 0.8s;
    animation-fill-mode: backwards;
}
.menu_choice{
    overflow-y:auto;
    width: 97%;
    display: flex;
    padding: 1%;
    flex-wrap: wrap;
    height: 90%;
    border-radius: 50px 50px 0 0;
    margin-top: 10px;
    scroll-behavior: smooth;
    gap: 20px;
    margin: 0 auto;
    align-content: flex-start;
    border-bottom: 1px solid black;
}
.ingredient{
    background-color: transparent;
    width: 170px;
    height: 200px;
    border-radius: 30px;
    border: 2px solid rgb(201, 200, 200);
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ingredient_img{
    width: 100px;
    height: 100px;
}
.ingredient_name{
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    letter-spacing: -3px;
    word-spacing: -3.4px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: capitalize;
    font-weight: 400;
    margin-top: 2px;
}
.counter{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.counter_btn{
    background-color: transparent;
    border-radius: 20px;
    border: 1px solid rgb(163, 159, 159);
    width: 22px;
    height: 22px;
    transition: ease 0.3s;
    &&:hover{
        opacity: 0.7;
    }
    &&:active{
        opacity: 0.5;
    }
}
.menu_other{
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    margin-top: 10px;
}
.pay{
    margin-left: auto;
    background-color: black;
    border-radius: 40px;
    width: 300px;
    color: white;
    font-weight: 500;
    font-size: 25px;
    height: 40px;
    border-color: transparent;
    transition: ease 0.3s;
    &&:hover{
        background-color: #353434;
    }
    &&:active{
        background-color: #8b8282;
    }
}
.price{
    font-weight: 600;
    font-size: 30px;
}
.pizza_ingredients{
    width: 80%;
    position: absolute;
    border-radius: 600px;
    left: 10%;
    z-index: 1;
    background-color: transparent;
    aspect-ratio: 1/1;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.pizza_filing{
    width: 7%;
    height: 7%;
    position: absolute;
}